.regular:active {
     background-color: rgba(255, 255, 255, 0.2);
     color: white;
}
 .inverted:active {
     background-color: rgba(0, 0, 0, 0.2);
     color: black;
}
 .regular {
     background-color: rgba(255, 255, 255, 0.05);
     color: white;
}
 .inverted {
     background-color: rgba(0, 0, 0, 0.05);
     color: black;
}
 .keysHolder>* {
     border: 0;
     background-clip: padding-box;
     box-sizing: border-box;
}
 .dr-b {
     border: 0;
     background-clip: padding-box;
     margin: inherit;
     box-sizing: border-box;
}
 .boxLay.regular:dragging {
     background-image: url(ui/icons/hicolor/scalable/actions/move.svg);
     background-size: 100px;
}
.boxLay.inverted:dragging {
     background-image: url(ui/icons/hicolor/scalable/actions/move-dark.svg);
     background-size: 100px;
}
.close_btn, .move_btn {
     background-repeat: no-repeat;
     background-position: center;
}
.close_btn.regular {
	 background-image: url(ui/icons/hicolor/scalable/actions/close.svg);
}
.close_btn.inverted {
	 background-image: url(ui/icons/hicolor/scalable/actions/close-dark.svg);
}
.move_btn.regular {
	 background-image: url(ui/icons/hicolor/scalable/actions/move.svg);
}
.move_btn.inverted {
	 background-image: url(ui/icons/hicolor/scalable/actions/move-dark.svg);
}
 .keyActionBtns {
     background-color: rgba(255, 255, 255, 0.00);
     border: 0;
     border-radius: 0px;
     background-clip: padding-box;
     margin: 0px !important;
     box-sizing: border-box;
}
 .selected.regular {
     background-color: rgba(255, 255, 255, 0.7);
     color: black;
}
 .selected.inverted {
     background-color: rgba(0, 0, 0, 0.7);
     color: white;
}
 .db-keyboard-content {
     background-color: rgba(0, 0, 0, 0);
     border: 0;
}
 .boxLay {
     padding: 20px;
     border-radius: 10px;
}
 
